.env
/get-pip.py

/src/__pycache__/*

/src/db/knowledge_logs.txt
/src/db/index.faiss
/src/db/index.pkl
/src/db/merge_president_blog.csv
/src/db/knowledge_data.csv

/src/prompts/system_prompts.txt
/src/prompts/character_prompts.txt

/src/static/images/*
!/src/static/images/.gitkeep
/src/static/models/vrm/*
!/src/static/models/vrm/.gitkeep
/src/static/motions/vrma/*
!/src/static/motions/vrma/.gitkeep