accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio
AnyQt
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
args==0.1.0
arrow==1.3.0
asttokens
async-lru==2.0.4
async-timeout==4.0.3
attrs
Babel==2.15.0
backcall
baycomp
beautifulsoup4==4.12.3
bitarray==2.9.2
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
Bottleneck
Brotli
catalogue==2.0.10
catboost
cattrs
certifi==2024.6.2
cffi==1.16.0
chardet
charset-normalizer
click==8.1.7
clint==0.5.1
cloudpathlib==0.18.1
colorama
comm
commonmark
confection==0.1.5
contourpy
cupy-cuda117==10.6.0
cycler
cymem==2.0.8
dataclasses-json==0.6.7
datasets==2.20.0
debugpy
decorator
defusedxml==0.7.1
Deprecated==1.2.14
dictdiffer
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
docker-pycreds==0.4.0
docutils
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup
executing
fast-pytorch-kmeans==0.2.0.1
fastjsonschema==2.20.0
fastrlock==0.8.2
filelock
Flask==3.0.3
fonttools
fqdn==1.5.1
frozenlist==1.4.1
fsspec
fugashi==1.3.2
future
ginza==5.2.0
ginza-transformers==0.4.2
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.43
gmpy2
gpt-index==0.8.42
graphviz
greenlet==3.0.3
h11
httpcore
httpx
huggingface-hub==0.23.4
idna
igraph==0.11.5
importlib_metadata
importlib_resources
intel-openmp==2021.4.0
ipadic==1.0.0
ipdb==0.13.13
ipykernel
ipython
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous
ja-ginza==5.2.0
ja-ginza-electra==5.2.0
japanize-matplotlib==1.1.3
jaraco.classes
jedi
Jinja2
jiter==0.5.0
joblib
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-http-over-ws==0.0.8
jupyter-lsp==2.2.5
jupyter_client
jupyter_core
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keyring
keyrings.alt
kiwisolver
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
langcodes==3.4.0
langsmith==0.1.82
language_data==1.2.0
llama-cloud==0.0.6
llama-index
llama-index-agent-openai==0.2.7
llama-index-cli==0.1.12
llama-index-core==0.10.67
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.2.3
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.29
llama-index-multi-modal-llms-openai==0.1.6
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.27
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.5
llvmlite==0.43.0
logzero==1.7.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe
marshmallow==3.21.3
matplotlib==3.9.0
matplotlib-inline
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
mkl-service==2.4.0
more-itertools
mpmath
mteb==1.12.5
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest_asyncio
networkx
ninja==1.11.1.1
nlplot==1.6.0
nltk==3.8.1
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numexpr
numpy==1.24.4
onnx==1.16.1
openai==1.55.3
openpyxl
openTSNE
orange-canvas-core
orange-widget-base
Orange3
orjson==3.10.5
overrides==7.7.0
packaging==23.2
pandas
pandocfilters==1.5.1
parso
pickleshare
pillow==10.2.0
plac==1.4.3
platformdirs
plotly
ply==3.11
polars==0.20.31
preshed==3.0.9
processing-py==0.3.7
prometheus_client==0.20.0
prompt_toolkit
protobuf==5.27.2
psutil
pure-eval
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycairo==1.23.0
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
Pygments
pynvml==11.5.0
pyparsing
pypdf==4.2.0
PyQt5==5.15.10
PyQt5-sip
pyqtgraph
PySocks
python-dateutil
python-dotenv==1.0.1
python-json-logger==2.0.7
python-louvain
pytrec-eval-terrier==0.5.6
pytz
pyvis==0.3.2
PyYAML
pyzmq
qasync
qtconsole
QtPy
referencing==0.35.1
regex==2024.5.15
requests
requests-cache
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
safetensors==0.4.3
scikit-learn
scipy
seaborn==0.13.2
Send2Trash==1.8.3
#sentence-transformers==2.7.0
sentry-sdk==2.7.1
serverfiles==0.3.1
setproctitle==1.3.3
shellingham==1.5.4
sip
six
smart-open==7.0.4
smmap==5.0.1
sniffio
soupsieve==2.5
spacy==3.7.5
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.1.9
spark-parser==1.8.9
SQLAlchemy==2.0.31
srsly==2.4.8
stack-data
striprtf==0.0.26
SudachiDict-core==20240716
SudachiPy==0.6.8
SudachiTra==0.1.9
sympy
tbb==2021.11.0
tenacity
term-background==1.0.1
terminado==0.18.1
texttable==1.7.0
thinc==8.2.5
threadpoolctl
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.13.3
tomli
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado
tqdm==4.66.4
traitlets
transformers==4.25.1
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions
tzdata
ujson
uncompyle6==3.9.1
unicodedata2
unidic-lite==1.0.8
uri-template==1.3.0
url-normalize
urllib3==1.26.19
voyager==2.0.6
wandb==0.17.3
wasabi==1.1.3
wcwidth
weasel==0.4.1
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
win-inet-pton
wordcloud==1.9.3
wrapt==1.16.0
xdis==6.1.0
xgboost
xlrd
XlsxWriter
xxhash==3.4.1
yarl==1.9.4
zipp
