<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>倉川社長チャットボット</title>
    <link rel="icon" href="{{ url_for('static', filename='bot-icon.png') }}" type="image/png">
    <style>
        /* 同じスタイルを使用 */
    </style>

    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.167.0/build/three.module.js",
                "GLTFLoader": "https://cdn.jsdelivr.net/npm/three@0.167.0/examples/jsm/loaders/GLTFLoader.js",
                "@pixiv/three-vrm": "https://cdn.jsdelivr.net/npm/@pixiv/three-vrm@3/lib/three-vrm.module.min.js",
                "@pixiv/three-vrm-animation": "https://cdn.jsdelivr.net/npm/@pixiv/three-vrm-animation/lib/three-vrm-animation.module.js"
            }
        }
    </script>
</head>
<body>

    <div id="left-container">
        <div id="loading-container">
            <p>モデルを読み込んでいます...</p>
            <progress id="loading-bar" value="0" max="100"></progress>
        </div>
        <canvas id="canvas"></canvas>
    </div>

    <div id="right-container">
        <div class="chat-container">
            <header>社長チャットボット</header>
            <div id="scroll-area"></div>
            <footer>
                <form id="chat-form">
                    <input type="text" id="input-message" placeholder="メッセージを入力..." />
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
                        </svg>
                    </button>
                </form>
            </footer>
        </div>
    </div>

    <script type="module">
        import * as THREE from 'three';
        import { GLTFLoader } from 'GLTFLoader';
        import { VRMLoaderPlugin } from '@pixiv/three-vrm';
        import { createVRMAnimationClip, VRMAnimationLoaderPlugin } from '@pixiv/three-vrm-animation';
    
        let currentMixer = undefined;
        let idleAction = undefined;
        let typingAction = undefined;
        let AnsweringAction = undefined;
        let currentVrm = undefined;
        let idleTimer = null;

        window.addEventListener("DOMContentLoaded", () => {
            const canvas = document.getElementById("canvas");
            const loadingContainer = document.getElementById("loading-container");
            const loadingBar = document.getElementById("loading-bar");

            const scene = new THREE.Scene();
            const textureLoader = new THREE.TextureLoader();
            const backgroundTexture = textureLoader.load('/static/models/ttc-back.jpg');
            scene.background = backgroundTexture;

            const camera = new THREE.PerspectiveCamera(30, canvas.clientWidth / canvas.clientHeight, 0.1, 20);
            camera.position.set(0, 1, -1.7);
            camera.rotation.set(0.0, Math.PI, 0.0);

            const renderer = new THREE.WebGLRenderer({ canvas });
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(canvas.clientWidth, canvas.clientHeight);

            const light = new THREE.DirectionalLight(0xffffff, Math.PI);
            light.position.set(1.0, 1.0, 1.0);
            scene.add(light);

            function load(url) {
                loader.load(url, (gltf) => {
                    tryInitVRM(gltf);
                    loadingContainer.style.display = 'none';
                }, (progress) => {
                    const percentComplete = (progress.loaded / progress.total) * 100;
                    loadingBar.value = percentComplete;
                }, (error) => console.error(error));
            }

            function tryInitVRM(gltf) {
                const vrm = gltf.userData.vrm;
                if (!vrm) return;
                currentVrm = vrm;
                scene.add(vrm.scene);
                initAnimationClip();
            }

            function initAnimationClip() {
                if (!currentVrm) return;
                currentMixer = new THREE.AnimationMixer(currentVrm.scene);
                loadAnimation('/static/motions/vrma/挨拶.vrma').then((clip) => {
                    const specialAction = currentMixer.clipAction(clip);
                    specialAction.play();
                    specialAction.loop = THREE.LoopOnce;
                });
            }

            function loadAnimation(url) {
                return new Promise((resolve) => {
                    loader.load(url, (gltf) => {
                        const clip = createVRMAnimationClip(gltf.userData.vrmAnimations[0], currentVrm);
                        resolve(clip);
                    });
                });
            }

            const loader = new GLTFLoader();
            loader.register((parser) => new VRMLoaderPlugin(parser));
            load("/static/models/vrm/ttc-president-20240917.vrm");

            const clock = new THREE.Clock();
            const update = () => {
                requestAnimationFrame(update);
                const deltaTime = clock.getDelta();
                if (currentMixer) currentMixer.update(deltaTime);
                if (currentVrm) currentVrm.update(deltaTime);
                renderer.render(scene, camera);
            };
            update();
        });

        const messages = [{ text: "こんにちは！どのようなご質問がありますか？", isUser: false }];
        const inputField = document.getElementById('input-message');
        const scrollArea = document.getElementById('scroll-area');
        const chatForm = document.getElementById('chat-form');
        const submitButton = chatForm.querySelector('button[type="submit"]');

        chatForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const input = inputField.value.trim();
            if (input) {
                messages.push({ text: input, isUser: true });
                displayMessages();
                inputField.value = '';
                submitButton.disabled = true;
                inputField.disabled = true;

                startIdleTimer();
                startTypingAnimation();

                messages.push({ text: '', isUser: false, isTyping: true });
                displayMessages();

                const eventSource = new EventSource(`/run_python_stream?message=${encodeURIComponent(input)}`);

                eventSource.onmessage = function (event) {
                    const chunk = event.data;
                    messages[messages.length - 1].text += chunk;  // 受信したデータをチャットに追加
                    displayMessages();
                };

                eventSource.onerror = function () {
                    console.error("Error receiving response.");
                    eventSource.close();
                    submitButton.disabled = false;
                    inputField.disabled = false;
                };

                eventSource.addEventListener('end', function () {
                    eventSource.close();
                    submitButton.disabled = false;
                    inputField.disabled = false;
                    stopTypingAnimation();
                });
            }
        });

        function startTypingAnimation() {
            if (idleAction) idleAction.stop();
            if (typingAction) typingAction.play();
        }

        function stopTypingAnimation() {
            if (typingAction) typingAction.stop();
            if (idleAction) idleAction.play();
        }

        function displayMessages() {
            scrollArea.innerHTML = '';
            messages.forEach(message => {
                const messageDiv = document.createElement('div');
                messageDiv.className = message.isUser ? 'message user-message' : 'message bot-message';

                const messageContent = document.createElement('div');
                messageContent.className = 'message-content';
                messageContent.textContent = message.text;
                messageDiv.appendChild(messageContent);
                scrollArea.appendChild(messageDiv);
            });
            scrollArea.scrollTop = scrollArea.scrollHeight;
        }

        function startIdleTimer() {
            clearTimeout(idleTimer);
            idleTimer = setTimeout(() => {
                if (idleAction) idleAction.play();
            }, 60000);
        }

        displayMessages();
    </script>

</body>
</html>
